@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto+Condensed:wght@300&display=swap");
:root {
  --color-azul-espacio-exterior: #001f3f;
  --color-celeste: #7fdbff;
  --color-azul: #3498db;
  /* --color-naranja: #e08138; */
  --color-naranja: #3498db;
  --color-lila: #6c5ce7;
  --color-rojo: #e74c3c;
  --color-amarillo: #edd642;
  --color-verde: #2ecc71;
  --color-blanco: #ffffff;
  --color-black: #000;
}
.header {
  background-color:red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  width: 100%;
  z-index: 9;
  font-family: "Amatic SC", cursive;
  font-family: "Roboto Condensed", sans-serif;
}
.links-header-ul{
  background:white;
  width: 100%;
  height: 100%;
  z-index:999;
}
.autor-info-header-register {
  top: 30px;
}

.btn-menu-header {
  display: none;
}

.btn-menu-header-open {
  display: none;
}

.logo {
  background:var(--color-naranja);
  opacity: 0.9;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 8em;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
  position: relative; /* Añadir posición relativa para que los pseudo-elementos sean relativos a este contenedor */
}
.links-header-ul {
  background: white;
  width: 100%;
  height: 80%;
  padding-top:15px;
  padding-left:15px;
  width: 100%;
  top:-20px;
  z-index: 999; /* Asegura que el elemento tenga un z-index */
  position: relative; /* Establece una posición relativa */
}

/* Pseudo-elemento para crear el efecto de corte en el margen derecho */
.logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: -108px;
  width: 110px;
  height: 100%;
  background-color: red;
  transform: skewX(40deg);
  transform-origin: bottom;
  z-index: 1; /* Asegura que el pseudo-elemento tenga un z-index inferior */
}



.logo-img {
  width: 50%;
  height:15em;
  opacity: 1;
  position: absolute;
  top: -80px;
}
.logo-titulo {
  top: 65px;
  position: absolute;
  text-align: center;
  width: 45%;
  color: #000;
  margin-bottom: 10px;
  opacity: 0; /* Inicialmente invisible */
  animation: encender 2s ease-in-out forwards; /* Nombre de la animación, duración, temporización y retención final */
}

@keyframes encender {
  0% {
    opacity: 0; /* Al principio, completamente invisible */
  }
  100% {
    opacity: 1; /* Al final, completamente visible */
  }
}

.menu {
  margin-top: 10px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu ul li {
  font-weight: bold;
  margin-right: 30px;
}

.menu ul li a {
  color: var(--color-black);
  text-decoration: none;
  padding: 8px;
  border-radius: 15px;
}

.menu ul li a:hover {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.5);
}

.autor-info-header {
  border: 1px solid #ccc;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100px;
  color: #000;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
  background-color: rgba(100, 20, 100, 0.6);
  border-radius: 5px;
}

/* Estilos para la imagen de perfil */
.autor-info-header-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  margin-top: 10px !important;
  display: block;
}

/* Estilos para el pseudo-elemento cuando se haga hover */
.autor-info-header:hover::before {
  content: "";
  border: 1px solid #ccc;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 120px;
  top: 20px;
  padding-top: 10px;
  color: #fff;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}



.autor-info-header-parrafo {
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
}




/* Media Query para pantallas pequeñas, como smartphones------------------------------------------------------------------- */
@media screen and (min-width: 120px) and (max-width: 767px) {
  .header {
    background-color:red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    width: 99%;
    z-index: 9;
    font-family: "Roboto Condensed", sans-serif;
  }

   
.logo {
  background:var(--color-naranja);
  /* background:blue; */
  opacity: 0.9;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 8em;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -120px;
  position: relative; /* Añadir posición relativa para que los pseudo-elementos sean relativos a este contenedor */
}
.links-header-ul {
  background: transparent;
  width: 100%;
  height: 80%;
  padding-top:15px;
  top:0px;
  z-index: 999; /* Asegura que el elemento tenga un z-index */
  position: relative; /* Establece una posición relativa */
}

/* Pseudo-elemento para crear el efecto de corte en el margen derecho */
.logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: -80px;
  width: 90px;
  height: 100%;
  background-color: red;
  transform: skewX(30deg);
  transform-origin: bottom;
  z-index: 1; /* Asegura que el pseudo-elemento tenga un z-index inferior */
}

.logo-img {
  width: 50%;
  height:12em;
  opacity: 1;
  position: absolute;
  top: -50px;
  left: 1%;
}
.logo-titulo {
  width: 35%;
  height:3%;
  background:#fff;
  opacity: 1;
  position: relative;
  top:240px;
  z-index:22;
  color: #000;
  font-size:12px;
  border-radius:5px;
  left:35%;
  animation: encender 2s ease-in-out forwards; /* Nombre de la animación, duración, temporización y retención final */
}


  .autor-info-header-register {
    top: 30px;
  }
  
  .btn-menu-header {
    display: none;
  }
  

  /* Estilos para el botón del menú */
  .btn-menu-header {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 10px;
    color: var(--color-naranja);
    background-color: var(--color-naranja);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:#fff;
    font-weight: bold;
    z-index:5000;
  }
  .btn-menu-header-open {
    position: absolute;
    top: 20px;
    color: var(--color-naranja);
    right: 20px;
    display: flex;    
    background-color: transparent;
    padding: 10px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:white !important;

  }

  /* Estilos para el menú */
  .menu {
    display: flex;
    flex-direction: column;
    width: 98%;
    height:130%;
    display: block;
    top: 0%;
    left: -2%;
    position: absolute;
    margin: 0 auto;
    border: none;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 15;
    transform: translateY(-100%); /* Ocultar el menú inicialmente */
    transition: transform 0.3s ease; /* Animación para mostrar o cerrar el menú */
  }

  .menu.active {
    transform: translateY(
      0%
    ); /* Mostrar el menú cuando tiene la clase "active" */
  }

  .menu ul {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: transparent;
  }

  .menu ul li {
    position: absolute;
    width: 40%;
    margin-left: 25%;
    height: 8%;
    z-index: 6;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }

  .autor-info-header {
    position: absolute;
    z-index: 6;
    right: 0;
    top: 10px;
    width: 20% !important;
    border: solid 1px black;
    margin-right: 15px;
  }

  .autor-info-header-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-top: 10px !important;
  }

  .autor-info-header-register {
    color: #fff !important;
    border: solid 1px black;
    padding: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
  }

  .menu ul li:nth-child(1) {
    top: 16%;
  }

  .menu ul li:nth-child(2) {
    top: 33%;
  }

  .menu ul li:nth-child(3) {
    top: 50%;
  }

  .menu ul li:nth-child(4) {
    top: 65%;
  }

  .menu ul li:nth-child(5) {
    top: 78%;
  }

  .menu ul li a {
    position: relative;
    background: white;
    width: 100%;
    height: 50%;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    color:red;
  }

  .menu ul li a:hover {
    text-decoration: underline;
    background-color: orange;
    color: var(--color-blanco);
  }

  .autor-info-header {
    width: 100%; /* Ajustar el ancho del contenedor de información del autor en pantallas pequeñas */
    font-size: 12px; /* Ajustar el tamaño de fuente del contenedor de información del autor en pantallas pequeñas */
  }

  .autor-info-header:hover::before {
    width: 80px; /* Ajustar el ancho del pseudo-elemento cuando se hace hover en pantallas pequeñas */
    height: 100px; /* Ajustar el alto del pseudo-elemento cuando se hace hover en pantallas pequeñas */
    top: 10px; /* Ajustar la posición vertical del pseudo-elemento cuando se hace hover en pantallas pequeñas */
    font-size: 10px; /* Ajustar el tamaño de fuente del pseudo-elemento cuando se hace hover en pantallas pequeñas */
    z-index: 6;
  }
}

/* Media Query para pantallas pequeñas, como smartphones------------------------------------------------------------------- */
@media screen and (min-width: 767px) and (max-width: 1197px){
  .header {
    background-color:red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    width: 100%;
    z-index: 9;
    font-family: "Amatic SC", cursive;
    font-family: "Roboto Condensed", sans-serif;
  }

  .autor-info-header-register {
    top: 30px;
  }
  
  .btn-menu-header {
    display: none;
  }
  
  .btn-menu-header-open {
    display: none;
  }
  
  .logo {
    background:var(--color-naranja);
    opacity: 0.9;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 8em;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -15px;
    position: relative; /* Añadir posición relativa para que los pseudo-elementos sean relativos a este contenedor */
  }
  .links-header-ul {
    background: white;
    height: 80%;
    padding-top:15px;
    padding-left:10px;
    width: 95%;
    top:-20px;
    margin-right: 12px;
    font-size: 14px;
    z-index: 999; /* Asegura que el elemento tenga un z-index */
    position: relative; /* Establece una posición relativa */
  }
  
  /* Pseudo-elemento para crear el efecto de corte en el margen derecho */
  .logo::after {
    content: "";
    position: absolute;
    top: 0;
    right: -108px;
    width: 110px;
    height: 100%;
    background-color: red;
    transform: skewX(40deg);
    transform-origin: bottom;
    z-index: 1; /* Asegura que el pseudo-elemento tenga un z-index inferior */
  }
  
  .logo-img {
    width: 50%;
    height:15em;
    opacity: 1;
    position: absolute;
    top: -80px;
  }
  .logo-titulo {
    top: 65px;
    position: absolute;
    text-align: center;
    width: 45%;
    color: #000;
    margin-bottom: 10px;
    opacity: 0; /* Inicialmente invisible */
    animation: encender 2s ease-in-out forwards; /* Nombre de la animación, duración, temporización y retención final */
  }
  
  @keyframes encender {
    0% {
      opacity: 0; /* Al principio, completamente invisible */
    }
    100% {
      opacity: 1; /* Al final, completamente visible */
    }
  }
  
  .menu {
    margin-top: 10px;
    color:#000;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu ul li {
    font-weight: bold;
    margin-right: 30px;
  }
  
  .menu ul li a {
    color: var(--color-black);
    text-decoration: none;
    padding: 8px;
    border-radius: 15px;
  }
  
  .menu ul li a:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .autor-info-header {
    border: 1px solid #ccc;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100px;
    color: #000;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
    background-color: rgba(100, 20, 100, 0.6);
    border-radius: 5px;
  }
  
  /* Estilos para la imagen de perfil */
  .autor-info-header-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    margin-top: 10px !important;
    display: block;
  }
  
  /* Estilos para el pseudo-elemento cuando se haga hover */
  .autor-info-header:hover::before {
    content: "";
    border: 1px solid #ccc;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 120px;
    top: 20px;
    padding-top: 10px;
    color: #fff;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  
  
  .autor-info-header-parrafo {
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  
}
