@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto+Condensed:wght@300&display=swap");

.servicios-container {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.titulo {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.servicios-list {
  display: flex;
  flex-wrap: no wrap;
  justify-content: space-around;
  font-size:30px;
}

.servicio {
  width: 30%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
}

.servicio-titulo {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.servicio-imagen {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.servicio-descripcion {
  font-size: 18px;
  margin-bottom: 10px;
}

.ver-mas-btn {
  background-color: var(--color-naranja);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.ver-mas-btn:hover {
  background-color: var(--color-amarillo);
  color: #666;

}
