@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto+Condensed:wght@300&display=swap");

.servicios-container {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.titulo {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.servicios-list {
  display: flex;
  flex-wrap: no wrap;
  justify-content: space-around;
  font-size: 30px;
}

.servicio {
  width: 30%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  color: var(--color-naranja);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.servicio-titulo {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-naranja);
}

.servicio-imagen-container {
  position: relative;
  width: 100%;
  max-height: 300px;
  margin-bottom: 10px;
}

.servicio-imagen {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  display: block;
  filter: sepia(90%); /* Aplicar efecto sepia al 100% */
}
/* .servicio-imagen:hover {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  display: block;
  filter: none;
} */

.servicio-imagen-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(255, 255, 255, 0) 100%
  ); /* Gradiente lineal con difuminado */
  pointer-events: none; /* Evitar que la capa overlay interfiera con los eventos */
  z-index: 9; /* Colocar la capa overlay encima de la imagen */
}

.servicio-descripcion {
  font-size: 18px;
  margin-bottom: 10px;
}

.ver-mas-btn {
  background-color: var(--color-naranja);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.ver-mas-btn:hover {
  background-color: var(--color-amarillo);
  color: #666;
}
