/* Tu estilo actual para .support-info */
.support-info {
  display: flex;
  align-items: center;
  margin: 20px;
  background-color: #dde;
}

.soporte-img {
  flex: 1;
  text-align: center;
  justify-content: center;
  display: flex;
}

.soporte-img-completa {
  object-fit: cover;
  width: 70%;
  max-height: 40%;
  display: block;
  filter: sepia(90%);
}

.soporte-text {
  flex: 1;
  padding: 0 20px;
}

.support-info h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.support-info p {
  font-size: 16px;
  margin-bottom: 10px;
}
