.testimonios-container {
    text-align: center;
    margin-top: 200px;
    background-color: #ddd;
  }
  
.testimonios-titulo {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    background-color:var(--color-naranja);
    color:#fff;
  }
  
  .testimonio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .testimonio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color:var(--color-naranja);
    padding: 20px;
    border-radius:5px;
    color: var(--color-blanco)
  }
  
  .testimonio-imagen {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    object-fit: cover;
    border:var(--color-blanco) solid 3px;
  }
  
  .testimonio-descripcion {
    font-size: 16px;
    margin-top: 10px;
    max-width: 300px; /* Ajusta el ancho máximo del texto según tus preferencias */
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
  }
  